@model FinalProject.Areas.Server.ViewModels.CCustomerOrderSheetViewModel

@{
    ViewData["Title"] = "Details_Uncheck";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">未確認訂單詳情</h1>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <thead>
                <div>
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerOrderSheetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerOrderSheetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetailId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListUnchecked" class="btn btn-secondary">返回</a>
    @Html.ActionLink("確認", "Confirm", new { id = Model.CustomerOrderSheetId }, new { @class = "btn btn-success" })
    @Html.ActionLink("取消訂單", "UncheckOrderCancel", new { id = Model.CustomerOrderSheetId }, new { @class = "btn btn-danger" })    
</div>
        </div>
    </div>
</main>